html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: #ECF0F1
    ;
  height: 100%;
  font-size: calc(1em + 1vw)
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2980B9;
}

.flex-container {
  display: flex;
  flex: 1;
  max-width: 300px;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  background-color: #95A5A6;
  font-size: 1em;
}

.flex-row {
  margin: 30px;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  font-size: 2em;
  pointer-events: none;
}

.row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: space-between;
}

.low {
  margin-top: 70px;
}

.column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: space-between;
}

.flex-item {
  background-color: #61dafb;;
  text-align: center;
  flex: 1;
  margin: 10px;
  padding: 5px;
  font-size: 2em;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.small {
  margin: 2px;
  padding: 2px;
  font-size: 1em;
}

.responsive-image {
  width: 100%;
  height: auto;
  pointer-events: all;
}

@media only screen and (max-width: 600px) {
  .responsive-image {
    max-width: 300px;
  }
}


@media only screen and (min-width: 600px) {
  .responsive-image {
    max-width: 800px;
  }
}

input {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 50px;
  flex: 1;
  justify-self: center;
}

.button {
  background-color: #ccc;
  border-radius: 10px;
  max-width: 300px;
  font-size: 0.6em;
  margin: auto;
}

.rotating {
  animation: App-logo-spin infinite 20s linear;
}

.flex-row {
  flex: 1;
  text-align: center;
  width: 98%;
}

.hollow {
  color: #ECF0F1;
}

.clouds {
  background-color: #ECF0F1;
}

.correct-text {
  color: #2ECC71;
  border: 3px solid #2ECC71;
}

.asphalt {
  background-color: #34495E;
}
.alizarin {
  background-color: #E74C3C;
}

.orange {
  background-color: #F39C12;
}
.pomegranate {
  background-color: #C0392B;
}

.emerald {
  background-color: #2ECC71;
}

.river {
  background-color: #3498DB;
}

.belize {
  background-color: #2980B9;
}

.silver {
  background-color: #BDC3C7;
}

.color-0 {
  background-color: #f7f7f7;
}

.color-1 {
  background-color: #F8B195;
}

.color-2 {
  background-color: #F67280;
}

.color-3 {
  background-color: #C06C84;
}

.color-4 {
  background-color: #6C5B7B;
}

.color-5 {
  background-color: #355C7D;
}

@keyframes peli-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
